.modal .modal-body .nav-tabs {
    border-bottom: 1px solid rgba(118,109,244,0.35);
    
}

.modal .modal-body .nav-tabs .nav-link.active {
    border-bottom: 3px solid rgba(118, 109, 244, 0.9);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}
.modal .modal-body .nav-tabs .nav-link{
	padding: .45rem 0.5rem;
}

